/* reseteo margenes */

*{
    margin: 0;
    padding: 0;
    
}

main{
    background: #dbdbf7;
    height: 1500px;
    width: 100%;  


}

#grillaMenu{
    height: 100px;
    display: grid;
    grid-template-areas: "direccion redes" 
                         "logo menu";
    background: linear-gradient(to left, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    grid-template-rows: 40% 60%;
    grid-template-columns: 50% 50%;
    
 
    
}

.direccion{
    grid-area: direccion;
    justify-self: center;
    font-family: Roboto;
    font-size: 10px;
    color: white;
    align-self: center;
    

    
}

.redes{
    grid-area: redes;
    justify-self: right;
    margin-right: 22px;
    
    
}

.redes img{
    margin: 5px;
    
        
}

.logo{
    grid-area: logo;
    justify-self: center;  
}


.logo a{
    text-decoration: none;
    color: white;
    font-family: 'Redressed', cursive;
    font-size: 30px;
    
}

.menu{
    grid-area: menu;
    align-self: center;
    

    
       
}

nav ul{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    
    
    
    
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-family: Roboto, sans-serif;
}

#grillaFooter{
    height: 50px;
    display: grid;
    grid-template-areas: "direccion_footer redes_footer";
    background: linear-gradient(to left, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    align-items: center;
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;   

}


.direccion_footer{
    grid-area: direccion_footer;
    justify-self: left;
    font-family: Roboto;
    font-size: 10px;
    color: white;
    margin-left: 22px;
    

    
}

.redes_footer{
    grid-area: redes_footer;
    justify-self: right;
    margin-right: 22px;
    
    
}

.redes_footer img{
    margin: 5px;
    
        
}


.titulo{
    font-family: roboto;
    font-size: 40px;
    
}

.subtitulo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;

}


#carouselExampleCaptions img{
    
    height: 400px;
    margin-top: 20px;
}

/* media queries para mobile */
@media only screen and (max-width: 600px){

    #grillaMenu{
        height: 100px;
        display: grid;
        grid-template-areas: "direccion" 
                              "redes" 
                              "logo";
                              
        background: linear-gradient(to left, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        grid-template-rows: 33% 33% 33% ;
        grid-template-columns: 100%;
        
     
        
    }

    .direccion{
        grid-area: direccion;
        justify-self: center;
        font-family: Roboto;
        font-size: 10px;
        color: white;
        align-self: center;
        
    
        
    }
    
    .redes{
        grid-area: redes;
        justify-self: center;
        align-self: center;
        
        
        
    }
    
    
    
    .logo{
        grid-area: logo;
        justify-self: center;  
    }
    
    
    .logo a{
        text-decoration: none;
        color: white;
        font-family: 'Redressed', cursive;
        font-size: 20px;
        
    }
    
    
}








    



